body{
    background-image: url(fireplace.avif) ; 
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position: center top;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69vh;
    margin: 0;
}

#btn{
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: white;
    padding: 10px;
    margin-top: 27vh;
}

#btn:hover{
    cursor: pointer;
    background-color: #095228;
    color: red;
    transition: background-color 0.3s, color 0.3s;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center ;
    margin-top: -30.5vh;}

input{
    border-radius: 5px;
}

#tree {
    color: #095228;
    display: flex;
    align-items:flex-start;
    margin-top: -60vh;
    font-size: 7vh;
}
